* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

button {
  cursor: pointer;
  border: none;
}

body, h2, h3, ul, button, p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

.body {
  position: relative;
}

.container {
  /* margin: 0 auto;
  max-width: 984px; */
}


.flex {
  display: flex;
  align-items: center;
}

.header {
  padding: 23px 0;
  box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32), 0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);
}

.header__logo {
  margin-right: 53px;
}

.header__input {
  padding-left: 16px;
  width: 581px;
  height: 44px;
  border: 1px solid rgba(51, 51, 51, 0.2);
}

.title {
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 24px;
}

.main {
  padding-top: 40px;
  padding-bottom: 102px;
  background-color: #e5e5e5;
}

.table__head {
  margin-bottom: 8px;
}

.head__title {
  display: inline;
  font-size: 12px;
  font-weight: 400;
  color: #b0b0b0;
}

.head__item-line {
  padding-right: 45px;
  line-height: 15px;
}

.head__title-text {
  font-size: 10px;
  color: #9873FF;
}

.table__body {
  margin-bottom: 30px;
  background-color: #fff;
  min-height: 300px;
  height: 100%;
}

.client__title {
  display: inline;
  font-size: 12px;
  font-weight: 400;
}

.client__item {
  padding: 20px 0;
}

.clients-item {
  border-bottom: 1px solid #c8c5d179;
}

.client__item-social {
  display: flex;
  align-items: center;
}

.social__item:not(:nth-child(5n)) {
  margin-right: 7px;
}

.social__item:nth-last-child(n+6) {
  margin-bottom: 7px;
}
.client__title-id,
.head__title-id {
  padding-left: 20px;
  color: #b0b0b0;
}

.time {
  font-size: 14px;
  color:#b0b0b0;
}

.social {
  padding-right: 45px;
  display: flex;
  flex-wrap: wrap;
}

.edit,
.cancel {
  font-size: 12px;
  display: inline-flex;
  align-items: flex-start;
  border: none;
  background-color: transparent;
  transition: color .4s ease;
}

.edit:hover {
  color: #9873FF;
}

.cancel:hover {
  color: #F06A4D;
}

.btn-add {
  display: block;
  margin: 0 auto;
  width: 216px;
  height: 44px;
  color: #9873FF;
  border: 1px solid #9873FF;
}

/* MODAL */

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(71, 68, 68, 0.527);
  z-index: 2;
}
.modal__body {
  padding-bottom: 30px;
  position: relative;
  width: 450px;
  background-color: #fff;
}

.modal__body-new {
  padding-bottom: 0;
}

.modal__container {
  padding: 25px 30px;
}

.modal__container-new {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__text {
  margin-bottom: 25px;
  max-width: 275px;
  text-align: center;
}

.close-modal {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 20px;
  height: 20px;
  background: url('/src/img/x.svg') no-repeat;
  background-color: #fff;
  border: none;
}

.modal__title {
  margin-bottom: 16px;
  display: inline-block;
  font-size: 18px;
}


.modal__form-input {
  display: flex;
  flex-direction: column;
}
.modal__id {
  font-size: 12px;
  color: #b0b0b0;
}

.modal__id::before {
  content: "ID: ";
}

.input-descr {
  font-size: 10px;
  color: #b0b0b0;
}

.modal__input {
  margin-bottom: 25px;
  height: 26px;
  border: none;
  outline: none;
  border-bottom: 1px solid #C8C5D1;
  font-size: 14px;
  font-weight: 600;
}

#lastname {
  margin-bottom: 0;
}

.add__contact {
  margin-bottom: 25px;
  padding: 8px 0;
  /* padding-bottom: 25px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #c8c5d146;
}

.add__contact-padding {
  padding-bottom: 25px;
}

.btn__add-contact {
  position: relative;
  padding-left: 20px;
  border: none;
  transition: text-shadow .3s ease;
}

.add__contact-icon {
  position: absolute;
  top: 3px;
  left: 0;
}

.btn__save-client {
  margin: 0 auto;
  margin-bottom: 5px;
  display: block;
  width: 147px;
  height: 44px;
  background-color: #9873FF;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  transition: background-color .3s ease,
              border .3s ease
              text-shadow .3s ease;
}
.btn__del-client {
  margin: 0 auto;
  display: block;
  background-color: transparent;
  border-bottom: 1px solid #000;
  transition: text-shadow .3s ease;
}
.btn__add-contact:hover,
.btn__del-client:hover {
  text-shadow: 0 0 1px #000;
}

.btn__save-client:hover {
  background-color: #8566db;
  border: 1px solid #4306eb;
  text-shadow: 0 0 1px #000;
}


.modal__form-add-social {
  /* margin-bottom: 25px; */
  padding-top: 19px;
  padding-bottom: 25px;
}

.add-social-select {
  margin: 0;
  padding-left: 12px;
  width: 123px;
  height: 37px;
  background-color: #E7E5EB;
  border: 1px solid #C8C5D1;
}

.option-img {
  position: absolute;
  display: block;
  height: 6px;
  width: 9px;
  top: 15px;
  left: 109px;
  background: #E7E5EB;
  z-index: 10;
}

.rotate {
  transform: rotate(180deg)
}

.d-none {
  display: none;
}

.add-social__input {
  margin-left: -5px;
  padding-left: 12px;
  padding-right: 30px;
  width: 267px;
  height: 37px;
  border: 1px solid #C8C5D1;
  outline: none;
}

.add-social__item {
  position: relative;
}

.add-social__item:not(:last-child) {
  margin-bottom: 15px;
}

.add-social__btn-clear {
  display: block;
  position: absolute;
  right: 1px;
  top: 1px;
  height: 35px;
  width: 27px;
  background-color: #E7E5EB;
  border-left: 1px solid #C8C5D1;
}

.btn-clear-svg {
  position: absolute;
  top: 12px;
  right: 7px;
}


/* LOADER */

.loader {
  position: relative;
  display: flex;
  min-height: 300px;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

@keyframes spin {
 100% {
    transform: rotate(360deg);
  }
}

.loader__img {
  animation: spin .5s linear infinite;
}

